.landing-banner {
  background-image: url("https://static.aelbrecht.io/portfolio/snow-banner.jpg");

  height: 65vh;
  background-size: auto 100%;
  background-position: 30% center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 660px) {
  .landing-banner {
    background-image: none;
  }
}

.mb-0 {
  margin-bottom: 0;
}

.text-lead {
  font-size: 0.9rem;
  color: #333;
}

h2 {
  font-weight: 200;
  font-size: 2rem;
}

@media screen and (max-width: 1000px) {
  h2 {
    margin-top: 0;
  }
}

h3:not(.work-title) {
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: lowercase;
  font-variant: small-caps;
}

.flex-columns {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-inner-column {
  width: 40%;
  max-width: 600px;
  display: flex;
  justify-content: center;
}

.flex-inner-column-70 {
  width: 70%;
  max-width: 520px;
}

.flex-inner-column-30 {
  width: 30%;
  max-width: 520px;
}

.flex-full-column {
  width: 80%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}

.flex-full-column-70 {
  max-width: 1090px;
}

@media screen and (max-width: 1000px) {
  .flex-full-column-70 {
    max-width: 520px;
  }
}

.w320px {
  width: 280px;
}

.w100 {
  width: 100%;
}

.p2 {
  padding: 2rem 2rem 0 2rem;
}

.flex-column {
  width: 50%;
}


@media screen and (max-width: 1280px) {
  .flex-column {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .flex-inner-column {
    width: 100%;
  }

  .flex-full-column {
    width: 100%;
  }

  .flex-inner-column.hide-mobile {
    display: none;
  }
}


.flex-outer-column {
  flex-grow: 1;
  min-height: 50vh;
}

@media screen and (max-width: 1000px) {
  .flex-outer-column {
    display: none;
  }
}

.element-name {
  padding-left: 50%;
  background-image: url("./name-frame.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  align-self: center;
  color: black;
  display: flex;
  justify-content: left;
  text-align: left;
}

@media screen and (max-width: 740px) {
  .element-name {
    padding-left: 40%;
    background-position: 40%;
  }
}

@media screen and (max-width: 660px) {
  .element-name {
    background-image: none;
    padding-left: 0;
    justify-content: center;
  }
}

.flex-center {
  align-self: center;
}

.element-name .flex-center {
  padding: 5.9rem 2rem 2rem;
}

@media screen and (max-width: 660px) {
  .element-name .flex-center {
    padding-top: 2rem;
  }

}

.element-name .name {
  margin: 0;
  padding-bottom: 0.5rem;
  font-size: 2.7rem;
  font-weight: 400;
  text-transform: lowercase;
  font-variant: small-caps;
  line-height: 2.3rem;
}

.element-name .flex-center .lead:first-child {
  color: #0c2461;
}

.element-name .lead {
  font-size: 1rem;
  font-variant: small-caps;
}

.page-padding {
  padding: 20px;
}

.page-filler {
  min-height: 90vh;
  width: 100%;
  display: flex;
}

@media screen and (max-width: 660px) {
  .page-filler {
    min-height: 100vh;
  }
}

.page-filler-70 {
  min-height: 90vh;
}

.banner-link {
  text-decoration: none;
  color: #0a3d62;
}

.page-filler .flex-columns {
  align-self: center;
}

.contact {
  margin-bottom: 5vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact .contact-feature a {
  color: #0a3d62;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  display: block;
}


a {
  color: #0a3d62 !important;
}

.contact .contact-feature .hide-mobile {
  padding-left: 0.5rem;
}

@media screen and (max-width: 780px) {

  .contact .contact-feature {
    text-align: center;
  }

  .contact .hide-mobile {
    font-size: 0;
  }
}

.portrait {
  max-width: 400px;

  img {
    width: 100%;
    max-width: 400px;
  }

  .portrait-description {
    padding: 0.8rem 0;

    .portrait-name {
      font-size: 1.2rem;
      font-weight: 400;
      text-align: right;
    }

    .portrait-birthdate {
      text-align: right;
      font-size: 0.9rem;
    }
  }

  .profile-description {
    p {
      text-align: justify;
    }
  }
}

.education-segment {
  margin-bottom: 2rem;
  padding: 1.8rem 0 0.6rem 2.25rem;
  background-image: url("./education-frame.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.education-segment .edu-block {
  padding-bottom: 1rem;
}

.education-segment .edu-title {
  font-size: 1.1rem;
}

.education-segment .edu-location {
  font-size: 0.8rem;
  font-weight: bold;
}

.portrait-mobile {
  display: none;
}

.portrait-desktop {
  display: flex;
}

@media screen and (max-width: 1000px) {
  .portrait-mobile {
    display: flex;
  }

  .portrait-desktop {
    display: none;
  }
}

.experience-segment {

  margin-bottom: 2rem;

  .exp-block {
    background-size: 40px 40px;
    background-repeat: no-repeat;
    padding-left: 50px;
    margin-bottom: 1rem;
  }

  .exp-title {
    font-size: 1.1rem;
  }

  .exp-function {
    font-size: 0.9rem;
    font-weight: bold;
  }

  .exp-description {
    text-align: justify;
    max-width: 420px;
    font-size: 0.9rem;
    color: #222;
  }

  .exp-matthys-wines {
    background-image: url("https://static.aelbrecht.io/portfolio/matthys-wines.png");
  }

  .exp-holiday-suites {
    background-image: url("https://static.aelbrecht.io/portfolio/holiday-suites.jpg");
  }
}

.language-segment {

  margin-bottom: 2rem;

  .lang-stat {
    font-variant: small-caps;
    font-size: 1.1rem;
    padding-left: 1rem;
    padding-bottom: 2px;
    display: block;
  }

  .lang-stat.lang-good {
    color: #079992;
    font-weight: bold;
  }

  .lang-stat.lang-bad {
    color: #e58e26;
  }

}

.skill-badges {

  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem -0.5rem;

  .single-skill {
    min-width: 20px;
    text-align: center;
    background-color: #f3f3f3;
    padding: 0.5rem 0.75rem;
    border-radius: 20px;
    margin: 0.2rem;
  }

  .skill-icon {
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: bottom;
    display: inline-block;
    margin-right: 0.3rem;
    background-size: contain;
    margin-bottom: -2px;
  }

  .icon-mongodb {
    background-image: url("./icons/mongodb.svg");
  }

  .icon-typescript {
    background-image: url("./icons/typescript.svg");
  }

  .icon-postgres {
    background-image: url("./icons/postgres.svg");
  }

  .icon-analytics {
    background-image: url("./icons/analytics.svg");
  }

  .icon-s3 {
    background-image: url("./icons/s3.svg");
  }

  .icon-unix {
    background-image: url("./icons/unix.svg");
  }

  .icon-go {
    background-image: url("./icons/go.svg");
  }

  .skill-star {
    font-size: 0.8rem;
    margin-bottom: 1px;
    color: #f6b93b;
  }

  .skill-level {
    font-size: 0.5rem;
    padding-left: 0.1rem;
    margin-bottom: 2px;
  }

  .skill-level-3 {
    color: #20bf6b;
  }

  .skill-level-2 {
    color: #3867d6;
  }

  .skill-level-1 {
    color: #4b6584;
  }

}

.work-story-container {
  width: 100%;
  display: flex;
  justify-content: center;
  @media screen and (max-width: 1000px) {
    flex-wrap: wrap;
  }

  .story-body, .story-image {
    flex-grow: 1;
    min-width: 50%;
  }

  .story-padding {
    padding: 0.5rem 2rem;
  }

  .story-body {
    border-radius: 20px;
    background-color: #f8f8f8;
    margin-bottom: 1rem;
  }

  .story-link {
    margin-bottom: 1rem;
  }

  .work-title {
    font-weight: normal;
    font-size: 1.4rem;
  }

  .story-text {
    text-align: justify;
  }

  .work-icon-mw {
    background-image: url("https://static.aelbrecht.io/portfolio/matthys-wines.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 40px;
  }

  .story-image-display:not(img) {
    min-height: 420px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0.5rem;
  }

  .image-mw-1 {
    background-image: url("./mw-topology.svg");
  }

  .story-image {
    align-self: center;

    p {
      margin-top: 0;
      width: 100%;
      text-align: center;
    }

    img {
      width: 100%;
    }
  }

  p {
    text-align: justify;
  }

  h4 {
    font-variant: small-caps;
    text-transform: lowercase;
    font-size: 1.2rem;
  }
}

.work-showcase {
  max-width: 800px;
  margin: auto;
  margin-top: 2rem;

  .carousel .slide {
    background: white;
  }
}

.mt-0 {
  margin-top: 0;
}

.mb-1 {
  margin-bottom: 0.5rem;
}
